<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="static/css/signin.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<style>
  .signin{
    padding: 300px 600px;
  }
  .form-signin{
    color: blue;
  }
</style>
<body style="text-align:center;" class="signin">
  <form class="form-signin" action="/login" method="POST">
    <h2 class="h3 mb-3 font-weight-normal">Login Here</h2>
    <label for="uname" class="sr-only">username</label>
    <input type="text" id="uname" name="uname" class="form-control" placeholder="username" required autofocus>
    <label for="pswd" class="sr-only">Password</label>
    <input type="password" id="pswd" name="pswd" class="form-control" placeholder="Password" required>
    <button type="submit" class="btn btn-md btn btn-success">Login</button>
  </form>
</body>
</html>

































